*{
  margin: 0;
}
body{
  text-align: center;
  margin: auto;
  padding: 50px;
  margin-top: 35px;
  max-width: 900px;
}
.top-box{
  display: inline-block;
  text-align: left;
  max-width: 900px;
  width: 100%;
}
.top-left-bunch{
  display: inline-block;
}
#big-icon{
  position: relative;
  margin-right: 5px;
}
#delicious{
  position: relative;

}
.upper-right-images{
  float: right;
  letter-spacing: -1px;
}
img{
  margin: -1px;
}
#rssicon{
  margin-left: 5px;
}
.bar{
  margin-top: 20px;
  width: 100%;
  height: 10px;
  background-image: url(bar.jpg);
}
.main-content{
  text-align: left;
  width: 100%;
  position: relative;
  max-width: 900px;
}
h1{
  margin: 50px 0px 0px 0px;
  font-size: 40px;
  font-family: sans-serif;
  letter-spacing: -2px;
}
h4{
  margin-top: 0px;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: -1px;
  color: #61686d;
}
.print-image{
  font-weight: lighter;
  font-size: 13px;
  display: inline;
  float: right;
  position: relative;
  bottom: 20px;
  letter-spacing: -1px;
  color: #61686d;
}
#main-picture{
  margin-bottom: 20px;
}
p{
    max-width: 901px;
    min-width: 900px;
    margin-top: 6px;
    margin-bottom: 3px;

    text-indent: 30px;
    color: #61686d;
    line-height: 25px;
    font-size: 19px;
    letter-spacing: 0.2px;
    /* Paragraph formatting provided by Danny McGill */
  }
.list{
  background-image: url(list-bg.png);
  padding: 20px;
}
ul{
  display: inline-block;
}
li{
  font-family: sans-serif;
  list-style-image:url(bullet.jpg);
}
.checked-off{
  list-style-image:url(checkbullet.jpg);
}
.vanessa{
  display: inline;
}
#van-pic{
  float: left;
  margin-right: 15px;
}
h5{
  font-size: 20px;
  float: left;
  font-weight: lighter;
}
#self-summary{
  float: left;
  position: relative;
  bottom: 50px;
}
